.App {
  margin: 150px auto;
  width: 960px;
  height: 620px;
  border: 2px solid black;
}

.input {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.textInput {
  border: none;
  border-bottom: 1px solid black;
  width: 600px;
}

.tasks {
  &_item {
    display: flex;
  }
}