.tasks {
  margin-top: 20px;

  &_item {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3% 55% 2% 18% 10% 5% 3%;
    justify-content: center;
    align-content: center;

    .tasks_item__badge {
      justify-self: start;

      svg:hover {
        fill: #c4c4c4;
        path {
          stroke: #fff;
        }
        cursor: pointer;
      }
    }

    &__text {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;

      color: #585858;
    }

    &__priority_point {
    }

    &__priority_text {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;

      cursor: pointer;

      color: #464646;
    }

    &__date {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;

      color: #9B9B9B;
    }

    &__checkbox {
      .default_check {
        display: none;

        ~ .custom_check {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border: 2px solid #000;
          position: relative;
          transition: all 0.4s ease;
          cursor: pointer;
          border-radius: 0.375rem;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            transition: all 0.4s ease;
            visibility: hidden;
            height: 7px;
            width: 3px;
            margin-top: -1px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
          }
        }

        &:disabled {
          ~ .custom_check {
            opacity: 0.3;
            cursor: not-allowed;
          }
        }

        &:checked {
          ~ .custom_check {
            background-color: #000;

            &:after {
              visibility: visible;
            }
          }
        }
      }
    }

    &__recycle {
      justify-self: center;
      &:hover {
        rect {
          fill: #000;
        }
      cursor: pointer;
      }
    }
  }
}
